(
  references: {
    "Keep a Changelog": "https://keepachangelog.com/en/1.0.0/",
  },
  introduction: Some("All notable changes to this project are documented in this file.\n\nThe format is based on `Keep a Changelog`_."),
  sections: [
    (
      references: {},
      version: (
        major: 0,
        minor: 14,
        patch: 0,
      ),
      released: "2025-01-27T20:20:42.013390589Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Configuration to set the extension of the temporary file used\r\nwith the external editor.",
            "Custom themes on user level & Styles improvements",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 13,
        patch: 1,
      ),
      released: "2024-12-08T16:31:02.474273641Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "A new FreeBSD port was published for tui-journal.",
            "Config path via CLI & State Path configurable & Fix default state path",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 13,
        patch: 0,
      ),
      released: "2024-11-25T18:59:38.861019821Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Smart Case for Filter & Fuzzy Finder",
          ],
          "Changed": [
            "Update dependencies & Simplified versions",
          ],
          "Fixed": [
            "Fix Homebrew GitHub Action",
            "Increase Min Rust Version & Include minimal supported rust version in CI",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 12,
        patch: 1,
      ),
      released: "2024-11-10T18:10:57.516434462Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "GitHub Action to Release on Homebrew Tap",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 12,
        patch: 0,
      ),
      released: "2024-09-27T18:16:58.361361032Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Provide Configuration for entries datum visibility",
            "Support Cycling Through Tags via Keybinding",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 11,
        patch: 0,
      ),
      released: "2024-09-08T11:49:56.679586845Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Colored Tags to Journals, generated and assigned automatically",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 10,
        patch: 0,
      ),
      released: "2024-09-01T09:08:52.944615158Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "History Management: Provide Undo & Redo Functionalities.",
          ],
          "Changed": [
            "Update Dependencies & Fix Crossterm and Raratui Breaking Changes",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 9,
        patch: 1,
      ),
      released: "2024-07-20T12:47:37.742190046Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Basic Emacs keybindings to Editor Help Popup",
            "Show the selected index and entry count.",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 9,
        patch: 0,
      ),
      released: "2024-05-30T07:37:23.951738395Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Optionally Sync Clipboard between Built-in Editor and the Operating System",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 8,
        patch: 4,
      ),
      released: "2024-05-12T20:08:06.170693783Z",
      introduction: None,
      changes: (
        references: {},
        changes: {},
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 8,
        patch: 3,
      ),
      released: "2024-04-28T10:15:14.417876165Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Changed": [
            "Added `--locked` to Install Instruction & Update dependencies",
          ],
          "Fixed": [
            "Remove forgotten unused sort calls from app.",
            "Specify arm target on mac build and release",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 8,
        patch: 2,
      ),
      released: "2024-02-01T20:04:46.038043673Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Fixed": [
            "Change Help popup shortcut on Windows",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 8,
        patch: 1,
      ),
      released: "2024-01-19T20:48:57.138308625Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Rust minimum supported version to cargo manifest",
          ],
          "Fixed": [
            "Aeruginous: migrate from deprecated comment-changes option ``-T``",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 8,
        patch: 0,
      ),
      released: "2024-01-16T20:26:03.747337975Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Add Default suggested priority while creating journals",
            "Add an optional priority field to the journals",
            "Add sort Functionality for journals",
            "App State (Sorting and Full-Screen Options) will be persisted",
            "CLI Sub-Command to assign priority to journals",
            "Go to Top/Bottom Journal & Page Up/Down Commands",
            "Sort key-map to app main footer",
          ],
          "Changed": [
            "Skip Rendering the UI on Key-Release & Key-Repeat Events",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 7,
        patch: 0,
      ),
      released: "2024-01-05T22:30:44.217266031Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Add full screen mode to main app view",
          ],
          "Changed": [
            "Aeruginous CHANGELOG fragment creation logic (#279)",
            "Main Footer Height is calculated dynamically",
            "Use native rust support for async traits",
          ],
          "Fixed": [
            "App will be redrawn on non-handled input",
            "CHANGELOG creation logic",
            "Call to Aeruginous",
            "Commit fetch depth in CHANGELOG assembly",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 6,
        patch: 1,
      ),
      released: "2024-01-01T11:44:46.668154806Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Changed": [
            "Update Ratatui to 0.25 + Update dependencies \r\n\r\n- Ratatui has been updated in the app and in textarea to version 0.25.\r\n- Small code changes has been done due to breaking changes.\r\n- Cargo lock has been updated so we don\'t have references to old\r\n  versions there.",
          ],
          "Fixed": [
            "Ignore key events of types other than press",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 6,
        patch: 0,
      ),
      released: "2023-12-16T19:21:36.914576942Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Support to Copy, Cut and Paste text between Built-in Editor and OS Clipboard",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 5,
        patch: 1,
      ),
      released: "2023-11-28T19:57:47.819849239Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Navigation between journals popup inputs via arrow keys",
          ],
          "Fixed": [
            "Letter V can\'t be typed in built-in editor insert mode",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 5,
        patch: 0,
      ),
      released: "2023-11-26T13:07:58.282458357Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Horizontal Scrollbar to the Editor",
            "Visual Mode to Built-in Editor",
          ],
          "Changed": [
            "Upgrade Crates Ratatui & Tui-Textarea with breaking changes",
          ],
          "Fixed": [
            "Release notes will be always generated in release GitHub action",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 4,
        patch: 0,
      ),
      released: "2023-10-14T13:31:02.923857748Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Autosave Option for  External Editor",
          ],
          "Fixed": [
            "- Optimizations for size calculation for the popup size to fit the\r\n  footer on almost each terminal size\r\n- Correcting the keybindings in the footer text",
            "Write configurations CLI argument creates needed directories",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 3,
        patch: 3,
      ),
      released: "2023-10-08T10:26:15.746460198Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Scrollbar for keybindings Overview Popup",
            "Scrollbar to Journals Editor",
            "Scrollbar to Journals\' list",
          ],
          "Fixed": [
            "Release GitHub Action creates binaries for Linux, MacOs and Widnows",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 3,
        patch: 2,
      ),
      released: "2023-10-02T18:31:36.885416778Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Add installation instructions for Alpine Linux",
            "Unit Tests for UI Functions",
            "Unit Tests for the main App Logic",
          ],
          "Changed": [
            "Migrate to Ratatui & Update Crossterm to 27",
          ],
          "Fixed": [
            "Attache built binaries to the release",
            "Input Boxes Border Colors",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 3,
        patch: 1,
      ),
      released: "2023-08-16T18:10:45.172936899Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Changed": [
            "Optimization for the app main loop",
            "Release GitHub Action",
            "Replace panic with compile_error in build script",
          ],
          "Fixed": [
            "Fix SQLite connection string path on Windows",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 3,
        patch: 0,
      ),
      released: "2023-07-13T17:56:17.860700035Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Add package name to CHANGELOG assembly workflow",
            "Fuzzy Finder Demo",
            "Fuzzy Finder for Journals",
          ],
          "Changed": [
            "Call Docker images of linters directly",
          ],
          "Fixed": [
            "Fix Release action using MakeFile",
            "Prevent release generation in forks",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 2,
        patch: 0,
      ),
      released: "2023-06-24T19:05:58.025030712Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Create Cleanup Cache GitHub Action",
            "Search Functions in Filter",
            "Select-Tags Popup in Create/Edit Journals Prompt",
            "Tags (Categories) for journal + Filter Function",
            "Wiki Documentation",
            "automatic version increment and CFF self-maintenance",
          ],
          "Changed": [
            "Add Filter Keybindings To Main Footer",
            "Improvements On Release Action Pipeline",
            "Keep journals list in focus after closing the external editor",
            "Update app Preview in README",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 1,
        patch: 4,
      ),
      released: "2023-06-11T18:52:52.732030789Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "CITATION.cff",
            "Edit current journal content in external editor",
            "Export Import functions for multiple journals",
            "Export current journal\'s content",
            "Multi-selection for journals",
            "Release CD action",
            "Tabs and scrolling to help popup",
            "configure CHANGELOG maintenance utilities",
          ],
          "Changed": [
            "Add NetBSD",
            "Add section to install the dependency  OpenSSL development package on Linux",
            "CI Improvements",
            "Enhance render loop",
            "Help popup improvements",
            "Make creating new entry more user-friendly postponing the validation at initialisation",
            "Option to Use Git Configured Editor as External editor",
            "[Documentation] Create README Badges",
            "bump baptiste0928/cargo-install to v2.1.0",
            "improve GHA linting speed dramatically",
            "settings Fixes & improvements",
          ],
          "Fixed": [
            "Editor will be cleared after deleting entries if there are no entries left",
            "Export journal file extension",
            "Setting back-end path from CLI",
            "Synchronizing problems with sqlite back-end",
            "bugs in fragment creation",
          ],
        },
      ),
    ),
  ],
)
