(
  references: {
    "Keep a Changelog": "https://keepachangelog.com/en/1.0.0/",
  },
  introduction: Some("All notable changes to this project are documented in this file.\n\nThe format is based on `Keep a Changelog`_."),
  sections: [
    (
      references: {},
      version: (
        major: 0,
        minor: 4,
        patch: 0,
      ),
      released: "2023-10-14T13:31:02.923857748Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Fixed": [
            "- Optimizations for size calculation for the popup size to fit the\r\n  footer on almost each terminal size\r\n- Correcting the keybindings in the footer text",
            "Write configurations CLI argument creates needed directories",
          ],
          "Added": [
            "Autosave Option for  External Editor",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 3,
        patch: 3,
      ),
      released: "2023-10-08T10:26:15.746460198Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Scrollbar for keybindings Overview Popup",
            "Scrollbar to Journals Editor",
            "Scrollbar to Journals\' list",
          ],
          "Fixed": [
            "Release GitHub Action creates binaries for Linux, MacOs and Widnows",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 3,
        patch: 2,
      ),
      released: "2023-10-02T18:31:36.885416778Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Add installation instructions for Alpine Linux",
            "Unit Tests for UI Functions",
            "Unit Tests for the main App Logic",
          ],
          "Changed": [
            "Migrate to Ratatui & Update Crossterm to 27",
          ],
          "Fixed": [
            "Attache built binaries to the release",
            "Input Boxes Border Colors",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 3,
        patch: 1,
      ),
      released: "2023-08-16T18:10:45.172936899Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Changed": [
            "Optimization for the app main loop",
            "Release GitHub Action",
            "Replace panic with compile_error in build script",
          ],
          "Fixed": [
            "Fix SQLite connection string path on Windows",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 3,
        patch: 0,
      ),
      released: "2023-07-13T17:56:17.860700035Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Add package name to CHANGELOG assembly workflow",
            "Fuzzy Finder Demo",
            "Fuzzy Finder for Journals",
          ],
          "Changed": [
            "Call Docker images of linters directly",
          ],
          "Fixed": [
            "Fix Release action using MakeFile",
            "Prevent release generation in forks",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 2,
        patch: 0,
      ),
      released: "2023-06-24T19:05:58.025030712Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Create Cleanup Cache GitHub Action",
            "Search Functions in Filter",
            "Select-Tags Popup in Create/Edit Journals Prompt",
            "Tags (Categories) for journal + Filter Function",
            "Wiki Documentation",
            "automatic version increment and CFF self-maintenance",
          ],
          "Changed": [
            "Add Filter Keybindings To Main Footer",
            "Improvements On Release Action Pipeline",
            "Keep journals list in focus after closing the external editor",
            "Update app Preview in README",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 1,
        patch: 4,
      ),
      released: "2023-06-11T18:52:52.732030789Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "CITATION.cff",
            "Edit current journal content in external editor",
            "Export Import functions for multiple journals",
            "Export current journal\'s content",
            "Multi-selection for journals",
            "Release CD action",
            "Tabs and scrolling to help popup",
            "configure CHANGELOG maintenance utilities",
          ],
          "Changed": [
            "Add NetBSD",
            "Add section to install the dependency  OpenSSL development package on Linux",
            "CI Improvements",
            "Enhance render loop",
            "Help popup improvements",
            "Make creating new entry more user-friendly postponing the validation at initialisation",
            "Option to Use Git Configured Editor as External editor",
            "[Documentation] Create README Badges",
            "bump baptiste0928/cargo-install to v2.1.0",
            "improve GHA linting speed dramatically",
            "settings Fixes & improvements",
          ],
          "Fixed": [
            "Editor will be cleared after deleting entries if there are no entries left",
            "Export journal file extension",
            "Setting back-end path from CLI",
            "Synchronizing problems with sqlite back-end",
            "bugs in fragment creation",
          ],
        },
      ),
    ),
  ],
)
