(
  references: {},
  changes: {
    "Fixed": [
      "- Optimizations for size calculation for the popup size to fit the\r\n  footer on almost each terminal size\r\n- Correcting the keybindings in the footer text",
    ],
  },
)
