(
  references: {},
  changes: {
    "Changed": [
      "Update Ratatui to 0.25 + Update dependencies \r\n\r\n- Ratatui has been updated in the app and in textarea to version 0.25.\r\n- Small code changes has been done due to breaking changes.\r\n- Cargo lock has been updated so we don\'t have references to old\r\n  versions there.",
    ],
  },
)
