name: changelog-assembly

on:
  workflow_dispatch:
    inputs:
      release:
        description: Release type
        required: true
        default: patch
        type: choice
        options:
          - major
          - minor
          - patch

permissions:
  contents: write
  pull-requests: write

jobs:
  ronlog:
    if: contains(fromJson('["major", "minor", "patch"]'), inputs.release)
    name: ronlog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: fregante/setup-git-user@v2.0.2
      - run: rustup update

      - uses: baptiste0928/cargo-install@v3.3.2
        with:
          crate: aeruginous

      - run: |
          aeruginous comment-changes \
            -b -d : -f ron -k -o changelog.d/ -@ "v$(cat .version)"
          aeruginous increment-version \
            -v "$(cat .version)" \
            -r ${{ inputs.release }} \
            -p tui-journal \
            -e .version \
            -e CITATION.cff \
            -e Cargo.lock \
            -e Cargo.toml
          aeruginous ronlog release -i changelog.d/ -v "$(cat .version)"

      - uses: peter-evans/create-pull-request@v7.0.8
        with:
          assignees: |
            AmmarAbouZor
          branch: documentation/aeruginous-ronlog
          branch-suffix: timestamp
          commit-message: '[Aeruginous] Assemble CHANGELOG'
          labels: |
            documentation
          title: '[Aeruginous] Assemble CHANGELOG'
