name: release

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .version

permissions:
  contents: write

jobs:
  release:
    if: github.repository == 'AmmarAbouZor/tui-journal'
    name: build-release
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            container: rust
            dependencies: "libssl-dev"
          - os: macos-13
            arch: x86_64
          - os: macos-latest
            arch: arm64
          - os: windows-latest

    steps:
    - uses: actions/checkout@v5

    - name: Install Latest Rust
      run: |
        rustup update --no-self-update ${{ env.RUST_CHANNEL }}
        rustup default ${{ env.RUST_CHANNEL }}

    - name: Install Linux dependencies
      if: matrix.dependencies
      run: apt update && apt install -y ${{ matrix.dependencies }}

    - name: Build Release Mac x86_64
      if: matrix.os == 'macos-13' && matrix.arch == 'x86_64'
      run: make release-mac-x86_64
    - name: Build Release Mac ARM64
      if: matrix.os == 'macos-latest' && matrix.arch == 'arm64'
      run: make release-mac-arm64
    - name: Build Release Linux
      if: matrix.os == 'ubuntu-latest'
      run: make release-linux
    - name: Build Release Win
      if: matrix.os == 'windows-latest'
      run: make release-win

    - name: tag_name
      id: tag_name
      shell: bash
      run: echo "version=$(cat .version)" >> "$GITHUB_OUTPUT"

    - name: release
      if: success()
      uses: softprops/action-gh-release@v2
      with:
        generate_release_notes: true
        tag_name: v${{ steps.tag_name.outputs.version }}
        files: |
          ./release/*.tar.gz
          ./release/*.zip

      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
